
@{
    ViewBag.Title = "Liên Hệ";
}

<br/>
<address>
    <h5>Địa chỉ: Sư Vạn Hạnh, Q10, Hồ Chí Minh</h5>
    <h5>Điện thoại: 0999999999</h5>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">henrynguyen202@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gmail.com</a>
</address>

