@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center m-3">Đặt vé tàu trực tuyến</h3>
<div class="container modal-body">
    <div>
        <form action="~/Gatau/Create_GaTau" method="post">
            <div class="form-group">
                <div class="form-group input-group">
                    <span class="input-group-addon">Ga Đi </span>
                    <br />
                    <input type="text" name="GaDi" value="" class="form-control" required />
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Ga Đến </span>
                    <br />
                    <input type="text" name="GaDen" value="" class="form-control" required />
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Ngày Đi </span>
                    <input type="date" name="Date_Birth" value="" class="input-sm" />
                </div>
            </div>
            <input type="submit" class="btn btn-success float-right" name="name" value="Tìm kiếm" />
        </form>
    </div>
    <br />
    <br />
    <div>
        <h2 class="text-center">Lịch tàu</h2>
        <table class="table table-bordered">
            <tr>
                <td>Ga Đi</td>
                <td>Ga Đến</td>
                <td>Ngày Đi</td>
            </tr>
            @if (ViewBag.Gatau != null)
            {
                foreach (var item in ViewBag.Gatau)
                {
                    <td>@item.gaDi</td>
                    <td>@item.gaDen</td>
                    <td>@item.ngayDi</td>
                }
            }
        </table>
    </div>
</div>