
@{
    ViewBag.Title = "Trang Chủ";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2 class="text-center">QUẢN LÝ GA TÀU</h2>
<br />
<div class="container">
    <h3>Danh sách ga tàu</h3>
    <div>
        <form action="~/Gatau/Create_GaTau" method="post">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-2">
                        <input type="checkbox" name="KhuHoi" value="MotChieu">Một chiều<br>
                    </div>
                    <div class="col-sm-2">
                        <input type="checkbox" name="MotChieu" value="KhuHoi">Khứ hồi<br>
                    </div>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Ga Đi</span>
                    <input type="text" name="GaDi" value="" class="form-control" required />
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Ga Đến</span>
                    <input type="text" name="GaDen" value="" class="form-control" required />
                </div>
                
            </div>
            <input type="submit" class="btn btn-info" name="name" value="Tạo chuyến tàu" />
        </form>
    </div>

    <br />
    <div>
        <table class="table table-bordered">
            <tr>
                <td>Ga Đi</td>
                <td>Ga Đến</td>
                <td>Ngày Đi</td>
                <td>Ngày Về</td>
            </tr>
            @if (ViewBag.Gatau != null)
            {
                foreach (var item in ViewBag.Gatau)
                {
                    <td>@item.gaDi</td>
                    <td>@item.gaDen</td>
                    <td>@item.ngayDi</td>
                    <td>@item.ngayVe</td>
                }
            }
        </table>
    </div>
</div>

