
@{
    var user = Session["user"] as QLVT.Models.User;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="glyphicon-bold">@ViewBag.Title</title>

    <!-- Bootstrap 4-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- PWA -->
    <meta name="theme-color" content="#2196f3" />
    <link rel="manifest" href="/manifest.json">

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('serviceworker.js').then(function (registration) {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }).catch(function (err) {
                //registration failed :(
                console.log('ServiceWorker registration failed: ', err);
            });
        } else {
            console.log('No service-worker on this browser');
        }
    </script>
</head>

<body>
    <!-- Thanh Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3E68FF;">
        <a class="navbar-brand" href="/Home">
            <img src="~/Content/images/icon-72x72.png" alt="Reuse" />
        </a>
        <a class="navbar-brand" href="/Home">Train Booking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <!-- Khi người dùng đã đăng nhập vào-->
        @if (user != null)
        {
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    @if (user.Url == "admin")
                    {
                        <li class="nav-item active" href="/GaTau">Thông tin lịch tàu</li>
                        <li class="nav-item" href="/GaTau">Đặt vé tàu</li>
                    }

                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link">@user.UserName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Logout">Đăng xuất</a>
                    </li>
                </ul>
            </div>
        }
        else
        {
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto pull-right">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Login">Đăng nhập</a>
                    </li>
                </ul>
            </div>

        }
    </nav>
    <!--END: Navbar-->

    <div class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
        <hr />
    </div>

    <footer>
        <div class="container-fluid">
            <p align="center">Website Bán vé tàu online - CNPM-NC 2019</p>
            <p class="copyright" align="center">
                &copy; 2019 <a href="https://www.facebook.com/">HellGray98</a>
            </p>
        </div>
    </footer>
</body>
</html>

